@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
::selection {
  background-color: #b5e1f5;
  color: #fff;
}
a {
  text-decoration: none;
  color: #294c5b;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 50px;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

.header img {
  height: 30px;
  padding: 10px;
}

.home_image2 {
  background-image: url(/assets/home_image.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 392px;
  box-sizing: border-box;
  padding-top: 110px;
}
.home_wrap {
  max-width: 900px;
}
.wrap {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 310px;
  padding: 0 10px;
  position: relative;
}
.home_head {
  text-align: left;
  display: inline-block;
  color: #294c5b;
  font-size: 34px;
  line-height: 1;
}
.home_head {
  text-align: left;
  display: inline-block;
  color: #294c5b;
  font-size: 34px;
  line-height: 1;
}
.home_head_logo {
  width: 100px;

  margin-bottom: 20px;
}
.home_head span {
  font-weight: 700;
  font-size: 42px;
}
.container {
  margin-right: 90px;
  margin-left: 90px;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.cat-1 {
  border: 1px solid #294c5b;
  border-radius: 4px;
  padding: 20px;
  box-shadow: rgba(0, 200, 255, 0.311) 0px 7px 29px 0px;
  cursor: pointer;
  background-color: #fff;
}

.cat-1:hover {
  box-shadow: rgb(0, 200, 255) 0px 7px 29px 0px;
}

.title {
  text-transform: uppercase;
}

.home_points_why {
  position: relative;
  padding: 100px 10px 300px;
  margin: 0 -10px;
  text-align: right;
  box-sizing: border-box;
  background-image: url(/assets/point0.png);
  background-position: top -40px left;
  background-repeat: no-repeat;
  z-index: 15;
  font-size: 22px;
  cursor: pointer;
}
.home_after_grid {
  color: #294c5b;
  text-align: right;
}
.bold {
  font-weight: 700;
}
.home_points_why_text {
  text-decoration: underline;
  text-underline-position: under;
  color: #294c5b;
}
.home_points_wrap {
  margin-bottom: 20px;
}
.home_points_wrap .home_points:nth-of-type(odd) {
  padding-left: 230px;
  padding-right: 320px;
  background-position: bottom right;
}
.home_points.home_point_1 {
  background-image: url(/assets/point1.png);
  margin-top: -48px;
  z-index: 14;
}
.home_points {
  position: relative;
  padding-top: 120px;
  padding-bottom: 24px;
  font-size: 18px;
  color: #646464;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 300px auto;
  margin-bottom: 100px;
}
.home_points_wrap .home_points:nth-of-type(odd) .home_point_number {
  left: -30px;
}
.home_points .home_point_number {
  color: #00ffeac4;
  position: absolute;
  top: 0;
  height: 324px;
  width: 324px;
  line-height: 310px;
  font-size: 200px;
  font-weight: 700;
  text-align: center;
}
.home_points h3 {
  color: #294c5b;
  font-size: 30px;
}
.home_points h3 span {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  text-decoration-color: #1cc1ef;
}
.home_points_wrap .home_points:nth-of-type(2n) {
  padding-left: 320px;
  padding-right: 230px;
  background-position: bottom left;
}
.home_points.home_point_2 {
  background-image: url(/assets/point2.png);
  background-size: 240px auto;
  z-index: 13;
}
.home_points_wrap .home_points:nth-of-type(2n) .home_point_number {
  right: -30px;
}
.home_points.home_point_3 {
  background-image: url(/assets/point3.png);
  z-index: 12;
}
.home_points.home_point_4 {
  background-image: url(/assets/point4.png);
  z-index: 11;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.opt-1 {
  margin-top: 30px;
}
.opt-2 {
  margin-top: 30px;
}
.opt-1,
.opt-2 {
  margin-right: 30px;
  border: 1px solid #294c5b;
  border-radius: 4px;
  padding: 20px;
  box-shadow: rgba(0, 200, 255, 0.311) 0px 7px 29px 0px;
  cursor: pointer;
  background-color: #fff;
}
.opt-1-title,
.opt-2-title {
  text-transform: uppercase;
}
.opt-1:hover,
.opt-2:hover {
  box-shadow: rgb(0, 200, 255) 0px 7px 29px 0px;
}
.textbook-1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.tb {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #d0d0d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 3px 12px rgba(0, 200, 225, 0.311);
  margin: 15px 0px;
}
.tb:hover {
  box-shadow: 0px 3px 12px rgba(0, 199, 225, 0.775);
}
.tb img {
  width: 100%;
  border-radius: 20px;
}
.tb-1 {
  text-align: center;
}

.hide {
  display: none;
}
.stream {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.com,
.sc,
.a {
  margin-right: 30px;
  border: 1px solid #294c5b;
  border-radius: 4px;
  padding: 20px;
  box-shadow: rgba(0, 200, 255, 0.311) 0px 7px 29px 0px;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
}
.stream-1-title,
.stream-2-title,
.stream-3-title {
  text-transform: uppercase;
}
.com:hover,
.sc:hover,
.a:hover {
  box-shadow: rgb(0, 200, 255) 0px 7px 29px 0px;
}

.a {
  margin-top: 20px;
}
.chapters{

  color: #294c5b;
}
.chapters:hover {
  color: #1cc1ef;
  text-decoration: underline;
}
@media (max-width: 980px) {
  .home_points_why {
    font-size: 18px;
    padding-top: 20px;
    background-position: bottom -85px left;
    margin-bottom: 41px;
  }
  .home_points_wrap .home_points:nth-of-type(2n),
  .home_points_wrap .home_points:nth-of-type(odd) {
    padding-left: 10px;
    padding-right: 10px;
    background-position: bottom center;
  }
  .home_points .home_point_number {
    height: 172px;
    width: 172px;
    line-height: 152px;
    font-size: 96px;
  }
  .home_points {
    background-size: auto auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
    padding-top: 108px;
    overflow: unset;
  }
  .home_points.home_point_1 {
    padding-bottom: 400px;
  }
  .home_points.home_point_2 {
    background-size: auto auto;
    padding-bottom: 428px;
  }
  .home_points.home_point_3 {
    padding-bottom: 394px;
    margin-top: -100px;
  }
  .home_points.home_point_4 {
    padding-bottom: 250px;
    margin-bottom: 20px;
  }
  .home_points_wrap .home_points:nth-of-type(2n) .home_point_number {
    left: -30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 580px) {
  .home_points_why {
    background-position: bottom -85px right 100px;
  }
}
@media screen and (max-width: 425px) {
  .home_head {
    display: none;
  }
  .container {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 375px) {
  .home_head {
    display: none;
  }
  .container {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 320px) {
  .home_head {
    display: none;
  }
  .container {
    margin-right: 0px;
    margin-left: 0px;
  }
}
